.advisor-notification .notification-container {
  position: absolute;
  top: 100%;
  right: 150px;
  background-color: var(--navbar-color);
  border-radius: 5px;
  text-align: start;
  box-shadow: var(--shadow-color);
  z-index: 99;
  width: 420px;

  opacity: 0;
  transform: translateY(-10px);
  transition: 0.2s ease-in-out all;
  visibility: hidden;
}

.advisor-notification .notification-container.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.advisor-notification .notify-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 10px 15px;
}

.advisor-notification .notify-heading h6 {
  margin-bottom: 0px;
  color: var(--sub-text-color);
}

.advisor-notification .notify-heading a {
  color: var(--hamburger-color);
  text-decoration: none;
  font-size: 13px;
  transition: .2s ease-out all;
  padding: 5px 10px;
}

.advisor-notification .notify-heading a:hover {
  background-color: #a8a8a81a;
  border-radius: 3px;
  transition: .2s ease-in-out all;
}

.advisor-notification .break-line {
  color: #919191c2;
  margin: 0px 0px;
}

.advisor-notification .notification-content h6 {
  color: var(--text-color);
  margin-bottom: 5px;
  line-height: 20px;
}

.advisor-notification .notification-content p {
  color: var(--sub-text-color);
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 400;
}

.advisor-notification .notification-content {
  width: 60%;
  margin-right: auto;
}

.advisor-notification .notification-time {
  color: var(--sub-text-color);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}

.advisor-notification .notification-time .mark-icon {
  color: var(--text-color);
  padding: 10px 10px;
  opacity: 0;
  display: inline-flex;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  transform: scale(0.5);
}

.advisor-notification .notification-item:hover .mark-icon {
  opacity: 1;
  transform: scale(1);
}

.advisor-notification .mark-icon:hover {
  background-color: #d1d1d142;
  transition: .1s ease-in-out all;
}

.advisor-notification .notification-icon {
  background-color: #00b1bc;
  padding: 8px;
  border-radius: 50%;
  display: inline-flex;
  color: #ffffff;
}

.advisor-notification .notification-icon.Appointment {
  background-color: #2F7FDB;
}

.advisor-notification .notification-icon.Quotation {
  background-color: #A154D4;
}


.advisor-notification .notification-icon.Invoice {
  background-color: #E4A842;
}

.advisor-notification .notification-icon.payment {
  background-color: #E4A842;
}

.advisor-notification .notification-icon svg {
  font-size: 16px;
}

.advisor-notification .notification-item {
  padding: 13px 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
  border-bottom: 1px solid #9a9a9a1c;
  transition: .3s ease-in-out all;
}

.advisor-notification .notification-item.fade-out {
  opacity: 0;
  transform: scale(0.8);
}

.advisor-notification .notification-item:last-child {
  border-bottom: none;
}

.advisor-notification .notification-item:hover {
  background: #007c850b;
  transition: .3s ease-in-out all;
}

.advisor-notification .notification-container::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 35px;
  width: 20px;
  height: 20px;
  background-color: var(--navbar-color);
  transform: rotate(45deg);
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.advisor-notification .notifications-list {
  max-height: 370px;
  overflow: auto;
}

/* scrollbar in notification */

.advisor-notification .notifications-list::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}

.advisor-notification .notifications-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

.advisor-notification .notifications-list::-webkit-scrollbar-thumb {
  background: #b7b7b77b;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}

.advisor-notification .notifications-list::-webkit-scrollbar-thumb:hover {
  background: #b7b7b7ca;
}

.advisor-notification .notifications-list:hover::-webkit-scrollbar-thumb {
  display: block;
}

.advisor-notification .no-appointment {
  text-align: center;
  margin-bottom: 40px;
}

.advisor-notification .time-container {
  display: flex;
  align-items: center;
  gap: 3px;
}

.advisor-notification .loading-container {
  margin: 150px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:575px) {
  .advisor-notification .notification-container {
    right: 10px;
    width: 95%;
  }

  .advisor-notification .notification-container::before {
    display: none;
  }
}

@media only screen and (min-width:1200px) and (max-width:1399px) {
  .advisor-notification .notification-content h6 {
    font-size: 14px;
  }
}

@media only screen and (min-width:1400px) {
  .advisor-notification .notification-container {
    width: 400px;
  }
}