.login-bg {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loginpage-flex {
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 0px;
}

.login-bg::before {
  content: "";
  background: linear-gradient(90deg,
      rgba(0, 125, 133, 1) 0%,
      rgba(0, 123, 131, 0.83) 25%,
      rgba(0, 123, 131, 0.88) 50%,
      rgba(0, 113, 120, 0.8) 75%,
      rgba(1, 141, 149, 1) 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 70%;
  height: 100%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  animation: pulse 2s linear infinite;
  transform: scaleY(1.5);
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0 0 0 #d8eff0;
  }

  50% {
    box-shadow: 30px 0 0 0 #d8eff0;
  }

  100% {
    box-shadow: 60px 0 0 0 #d8eff0;
  }
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.login-form {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 60px 60px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: auto;
  width: 90%;
}

.login-form h1 {
  color: #111111;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.underline-animation {
  background: #00adb9;
  border-radius: 5px;
  height: 5px;
  overflow: hidden;
  position: relative;
  width: 100px;
  margin: 15px auto 25px
}

.underline-animation::before {
  animation: underline 3s linear infinite;
  content: "";
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  width: 100%;
  border-radius: 5px;
  background-color: #009ba7;
}

@keyframes underline {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.login-form p {
  color: #666666;
  font-size: 16px;
  padding-bottom: 10px;
  text-align: center;
  line-height: 30px;
}

.input-icon svg {
  color: #606060;
  font-size: 20px;
}

.form-input {
  width: 100%;
  border: 1.5px solid #858585;
  border-radius: 8px;
  padding: 10px 15px;
}

.form-label {
  color: #333333;
  font-weight: 500;
  padding: 5px 0px;
  display: block;
}

.input-container {
  margin-bottom: 25px;
}

.login-btn {
  width: 100%;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(90deg, rgba(0, 125, 133, 1) 0%,
      rgba(0, 123, 131, 0.83) 25%,
      rgba(0, 123, 131, 0.88) 50%,
      rgba(0, 113, 120, 0.8) 75%,
      rgba(1, 141, 149, 1) 100%);
  color: white;
  margin-top: 50px;
  box-shadow: rgb(0 0 0 / 20%) 0px 15px 20px 0px;
  position: relative;
  overflow: hidden;
  transition: .3s ease-out all;
}

.login-btn:hover {
  background-color: #007c85;
  transition: .3s linear all;
}

.forgot-link {
  color: #0089DC;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  float: right;
}

.main-logo {
  width: 100px;
  height: auto;
  position: absolute;
  right: 2%;
  top: 5%;
  z-index: 1;
}

.bg-wave::before {
  content: "";
  background-image: url('../../../assets/images/login/bg-wave.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20%;
  right: 0;
  z-index: -1;
  width: 100%;
}

.bg-wave {
  text-align: center;
}

@media only screen and (max-width:575px) {
  .main-logo {
    width: 80px;
    top: 1%;
  }

  .loginpage-flex {
    gap: 0px;
  }

  .login-bg {
    height: 100%;
    padding: 50px 0px;
  }

  .login-form {
    padding: 40px 30px;
    width: 95%;
  }

  .login-form h1 {
    font-size: 20px;
  }

  .underline-animation {
    margin: 10px auto 15px;
  }

  .login-form p {
    line-height: 20px;
    font-size: 14px;
    padding-bottom: 0px;
  }

  .input-container {
    margin-bottom: 15px;
  }

  .login-btn {
    margin-top: 30px;
  }

  .bg-wave::before {
    display: none;
  }

  .login-bg::before {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 0px;
    transform: scaleX(1.5);
    height: 45%;
    width: 100%;
    top: unset;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #d8eff0;
    }

    50% {
      box-shadow: 0 -30px 0 0 #d8eff0;
    }

    100% {
      box-shadow: 0 -60px 0 0 #d8eff0;
    }
  }
}

@media screen and (min-width:576px) and (max-width:767px) {
  .login-image {
    width: 80%;
  }

  .login-form {
    padding: 50px 40px;
    width: 80%;
  }

  .main-logo {
    width: 100px;
    top: 3%;
  }

  .login-bg {
    height: 100%;
    padding: 80px 0px;
  }

  .login-form h1 {
    font-size: 24px;
  }

  .underline-animation {
    margin: 10px auto 15px;
  }

  .login-form p {
    line-height: 25px;
    font-size: 16px;
    padding-bottom: 0px;
  }

  .input-container {
    margin-bottom: 20px;
  }

  .login-btn {
    margin-top: 30px;
  }

  .bg-wave::before {
    display: none;
  }

  .login-bg::before {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 0px;
    transform: scaleX(1.5);
    height: 40%;
    width: 100%;
    top: unset;
  }


  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #d8eff0;
    }

    50% {
      box-shadow: 0 -30px 0 0 #d8eff0;
    }

    100% {
      box-shadow: 0 -60px 0 0 #d8eff0;
    }
  }
}

@media screen and (min-width:768px) and (max-width:991px) {
  .bg-wave::before {
    display: none;
  }

  .login-bg::before {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 0px;
    transform: scaleX(1.5);
    height: 40%;
    width: 100%;
    top: unset;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #d8eff0;
    }

    50% {
      box-shadow: 0 -30px 0 0 #d8eff0;
    }

    100% {
      box-shadow: 0 -60px 0 0 #d8eff0;
    }
  }

  .login-form h1 {
    font-size: 18px;
  }

  .login-form p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 12px;
    padding-bottom: 0px;
  }

  .login-form {
    padding: 60px 30px;
  }

  .underline-animation {
    margin: 10px auto 10px;
  }

  .loginpage-flex {
    gap: 0px;
  }

  .forgot-link {
    font-size: 10px;
  }

  .login-btn {
    margin-top: 20px;
    padding: 10px 10px;
  }

  .form-input {
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 5px;
  }

  .input-icon svg {
    font-size: 16px;
  }

  .form-label {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .input-container {
    margin-bottom: 15px;
  }

  .main-logo {
    width: 70px;
    top: 2%;
    right: 1%;
  }
}

@media screen and (min-width:992px) and (max-width:1199px) {
  .login-form h1 {
    font-size: 20px;
  }

  .login-form p {
    line-height: 20px;
    font-size: 11px;
    padding-bottom: 0px;
  }

  .input-container {
    margin-bottom: 10px;
  }

  .login-btn {
    font-size: 14px;
    margin-top: 20px;
  }

  .login-form {
    padding: 45px 45px;
    width: 80%;
  }

  .form-label {
    font-size: 12px;
    margin-bottom: 5px;

  }

  .forgot-link {
    font-size: 12px;
  }

  .form-input {
    font-size: 14px;
    padding: 7px 12px;
  }

  .underline-animation {
    margin: 10px auto 15px;
  }

  .main-logo {
    top: 2%;
    right: 1%;
    width: 80px;
  }

  .loginpage-flex {
    gap: 0px;
  }
}

@media screen and (min-width:1200px) and (max-width:1399px) {
  .login-form h1 {
    font-size: 22px;
  }

  .login-form p {
    line-height: 24px;
    font-size: 12px;
    padding-bottom: 0px;
  }

  .login-btn {
    font-size: 16px;
    margin-top: 29px;
  }

  .login-form {
    padding: 50px 45px;
    width: 90%;
  }

  .form-label {
    font-size: 14px;
    margin-bottom: 5px;

  }

  .forgot-link {
    font-size: 12px;
  }

  .form-input {
    font-size: 14px;
  }

  .underline-animation {
    margin: 10px auto 20px;
  }

  .main-logo {
    top: 2%;
  }
}

@media screen and (min-width: 1400px) {
  .login-form {
    padding: 90px 60px;
  }
}