.getotp-image {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0px 0px 10px 0px;
  width: 100px;
  height: fit-content;
}

.verify-otp-btn {
  width: 100%;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(90deg, rgba(0, 125, 133, 1) 0%, rgba(0, 123, 131, 0.83) 25%, rgba(0, 123, 131, 0.88) 50%, rgba(0, 113, 120, 0.8) 75%, rgba(1, 141, 149, 1) 100%);
  color: white;
  margin-top: 48px;
  box-shadow: rgb(0 0 0 / 20%) 0px 15px 20px 0px;
}

.verify-otp-btn:hover {
  background: #007c85;
}

.otp-input {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 1.5px solid #858585;
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px 0px;
  text-align: center;
}

.otp-input:hover {
  border: 1.5px solid #01848d;
}

.otp-input:focus-visible {
  border: 1.5px solid #01848d;
}

.otp-input-container {
  display: flex;
  justify-content: space-evenly;
  margin: 45px 0px 10px 0px;
}

@media only screen and (max-width:575px) {
  .getotp-image {
    width: 100px;
  }

  .verify-otp-btn {
    margin-top: 30px;
  }

  .otp-input {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (min-width : 768px) and (max-width:992px) {
  .get-otp-image {
    width: 60px;
  }

  .verify-otp-btn {
    margin-top: 20px;
    padding: 7px 10px;
    font-size: 14px;
  }

  .otp-input {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width:992px) and (max-width:1399px) {
  .getotp-image {
    width: 80px;
  }
}

@media screen and (min-width:1400px) {
  .otp-input-container {
    margin-top: 75px;
  }
}