.custom-navbar {
  padding: 0px;
  box-shadow:var(--shadow-color);
  z-index: 9;
  background-color: var(--navbar-color);
}

.custom-logo {
  width: 100px;
  height: auto;
  display: block;
}

.mobile-logo {
  display: none;
}

.notification path {
  color: var(--icon-color);
}

.moon-icon path {
  color: var(--icon-color);
}

.profile-icon path {
  color: var(--icon-color);
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
}

.navbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.navbar-icons button:hover {
  background-color: var(--hover-color);
  transition: .3s linear all;
}

.navbar-icons button:hover svg path {
  color: var(--dark-hover-color);
}

.sun-icon {
  color: var(--icon-color);
}


@media only screen and (max-width:768px) {

  .navbar-brand {
    gap: 0px;
    padding: 15px 0px;
    margin-right: 0px;
  }

  .custom-logo {
    display: none;
  }

  .mobile-logo {
    display: block;
    width: 32px;
  }
}

@media only screen and (min-width:769px) and (max-width: 992px) {
  .navbar-brand {
    gap: unset;
  }
}