.back-span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.back-btn {
  text-decoration: none;
  font-family: 'Be Vietnam Pro';
  font-size: 14px;
  font-weight: 500;
  color: #006a71;
}

.forgot-image {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px 0px;
  width: 100px;
}

.back-btn svg {
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.forgot-btn {
  width: 100%;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-family: 'Be Vietnam Pro';
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(90deg, rgba(0, 125, 133, 1) 0%, rgba(0, 123, 131, 0.83) 25%, rgba(0, 123, 131, 0.88) 50%, rgba(0, 113, 120, 0.8) 75%, rgba(1, 141, 149, 1) 100%);
  color: white;
  margin-top: 30px;
  box-shadow: rgb(0 0 0 / 20%) 0px 15px 20px 0px;
}