.back-span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.back-btn {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: #006a71;
}

.back-btn svg {
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.forgot-image {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0px 0px 10px 0px;
  width: 100px;
  height: fit-content;
}

.send-otp-btn {
  width: 100%;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(90deg, rgba(0, 125, 133, 1) 0%, rgba(0, 123, 131, 0.83) 25%, rgba(0, 123, 131, 0.88) 50%, rgba(0, 113, 120, 0.8) 75%, rgba(1, 141, 149, 1) 100%);
  color: white;
  margin-top: 42px;
  box-shadow: rgb(0 0 0 / 20%) 0px 15px 20px 0px;
}

.send-otp-btn:hover {
  background: #007c85;
}

@media only screen and (max-width:575px) {
  .forgot-image {
    width: 100px;
  }

  .send-otp-btn {
    margin-top: 30px;
  }
}

@media only screen and (min-width : 768px) and (max-width:992px) {
  .forgot-image {
    width: 60px;
  }

  .send-otp-btn {
    margin-top: 20px;
    padding: 7px 10px;
    font-size: 14px;
  }
}

@media screen and (min-width:992px) and (max-width:1399px) {
  .forgot-image {
    width: 80px;
  }
}

@media screen and (min-width:1400px) {
  .send-otp-btn {
    margin-top: 54px;
  }
}