.addadvisor-heading {
  font-family: 'Be Vietnam Pro', sans-serif;  color: #ffffff;
  background: linear-gradient(90deg,
      rgba(5, 128, 136, 1) 0%,
      rgba(0, 129, 137, 1) 25%,
      rgba(0, 139, 148, 1) 50%,
      rgba(5, 148, 156, 1) 75%,
      rgba(2, 128, 136, 1) 100%);
  margin-bottom: 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 15px 25px;
}

.create-advisor .create-form {
  border: 1px solid #8080803b;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ffffff;
  height: auto;
  padding: 20px 35px;
}

.create-advisor .form-control {
  width: 100%;
  border: 1px solid #858585;
  border-radius: 5px;
  padding: 8px 15px;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.create-advisor .form-control:hover {
  border: 1px solid #01848d;
  transition: .2s linear all;
}

.create-advisor .form-control:focus-visible {
  outline: 1px solid #01848d;
  box-shadow: none;
}

.create-advisor .form-group {
  margin-bottom: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


.create-advisor .custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.create-advisor .custom-arrow-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #606060;
}

.create-advisor select {
  cursor: pointer;
  color: #5e5e5e !important;
}

.create-advisor .password-field {
  position: relative;
}

.create-advisor .form-submit-button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  margin: 40px 0px;
}
.create-advisor .create-form .input-icon svg {
  font-size: unset;
}

.create-advisor .save-button {
  padding: 8px 0px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-family: 'Be Vietnam Pro';
  background: linear-gradient(90deg,
      rgba(1, 127, 135, 1) 0%,
      rgba(0, 134, 143, 1) 25%,
      rgba(1, 134, 143, 1) 50%,
      rgba(2, 146, 154, 1) 75%,
      rgba(3, 131, 139, 1) 100%);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-weight: 500;
  width: 150px;
}

.create-advisor .cancel-button {
  padding: 8px 0px;
  border-radius: 30px;
  border: 1px solid #ff9c9c;
  font-family: 'Be Vietnam Pro';
  background: #fbd0d080;
  color: #ff5a5a;
  font-weight: 500;
  width: 150px;
}

.create-advisor input[type="date"] {
  color: #5e5e5e;
}


@media only screen and (max-width:575px) {
  .create-advisor .create-form {
    padding: 15px 20px;
  }

  .create-advisor .form-submit-button {
    justify-content: center;
    margin: 30px 0px 30px 0px;
  }


}

@media only screen and (min-width:1200px) and (max-width: 1399px) {
  .create-advisor .form-group label {
    font-size: 14px;
  }

  .create-advisor .form-control {
    font-size: 14px;
    padding: 8px 10px;
  }

  .create-advisor .form-group {
    margin-bottom: 15px;
  }

  .create-advisor .addadvisor-heading {
    font-size: 16px;
  }

  .create-advisor .cancel-button {
    font-size: 14px;
  }

  .create-advisor .save-button {
    font-size: 14px;
  }
}