.offcanvas {
  width: 450px !important;
}

.provider-list .checkbox-wrapper input[type="radio"] {
  display: none;
}

.provider-list .checkbox-wrapper .item .advisor-detail {
  position: relative;
  cursor: pointer;
  transition: color 0.2s ease;
  width: 100%;
  padding: 0px;
}

.advisor-heading {
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #ffffff;
  background: var(--brand-color);
  margin-bottom: 0px;
  padding: 20px 25px;
}

.provider-list .checkbox-wrapper {
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: rgb(121 121 121 / 15%) 0px 1px 20px 0px;
  border: 1.5px solid #dbdbdb;
  transition: .2s ease-out all;
  background-color: #ffffff;
  cursor: pointer;
}

.provider-list .radio-label {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  width: 100%;
}

.provider-list .checkbox-wrapper:hover {
  border: 1.5px solid #02a4b0;
  transition: .2s linear all;
}

.provider-list .suggestion-advisor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.advisor-heading .offcanvas-title {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.advisor-heading .btn-close {
  font-size: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: rgb(199 199 199 / 24%) 0px 3px 8px;
  opacity: 0.8;
}

.advisor-heading .btn-close:hover {
  opacity: 1;
  transition: 0.3s linear all;
}

.provider-list .name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.provider-list .name-container svg {
  font-size: 35px;
  color: #036d74;
}

.provider-list .first-container p {
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 400;
  color: #525252;
}

.provider-list .first-container h6 {
  color: #2e2e2e;
}

.provider-list .second-container p {
  margin-bottom: 5px;
  font-size: 14px;
  text-align: center;
  color: #525252;
}

.provider-list .checkbox-wrapper:has(input[type="radio"]:checked) {
  border: 1.5px solid #02a4b0;
  background-color: #00c0cc21;
}

@media only screen and (min-width :1200px) and (max-width: 1399px) {
  .advisor-heading {
    padding: 15px 20px;
    font-size: 12px;
  }

  .advisor-heading .offcanvas-title {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
  }
}