.provider-list .checkbox-wrapper input[type="checkbox"] {
  display: none;
}

.provider-list .checkbox-wrapper label {
  padding: 0;
  margin: 0;
  line-height: 1;
}

.provider-list .item .cbx {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #007D85;
  border-radius: 50px;
  cursor: pointer;
}

.provider-list .item .cbx svg {
  position: relative;
  top: 0px;
  transform: scale(0);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: .3s linear ease-out;
}

.provider-list .checkbox-wrapper .item .cbx::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #007D85;
  transform: scale(0);
}

.provider-list .checkbox-wrapper .item .cbx::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  box-shadow: 0 -18px 0 #007D85, 12px -12px 0 #007D85, 18px 0 0 #007D85, 12px 12px 0 #007D85, 0 18px 0 #007D85, -12px 12px 0 #007D85, -18px 0 0 #007D85, -12px -12px 0 #007D85;
  transform: scale(0);
}

.provider-list .checkbox-wrapper .item .advisor-detail {
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* .provider-list .checkbox-wrapper .item .advisor-detail::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 1px;
  background: #9098a9;
} */

.provider-list .checkbox-wrapper .item:checked+.cbx {
  border-color: transparent;
}

.provider-list .checkbox-wrapper .item input:checked+.cbx svg {
  transform: scale(1);
  stroke-width: 2px;
  stroke: #007D85;
  transition: all 0.4s ease;
  transition-delay: 0.1s;
}

.provider-list .checkbox-wrapper .item input:checked+.cbx::after {
  transform: scale(1);
  opacity: 0;
  transition: all 0.6s ease;
}

.provider-list .checkbox-wrapper .item input:checked+.cbx::before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.6s ease;
}

.provider-list .checkbox-wrapper .item:checked~.advisor-detail {
  color: #9098a9;
}

.provider-list .checkbox-wrapper .item:checked~.advisor-detail:after {
  width: 100%;
  transition: all 0.4s ease;
}

.provider-list {
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-color);
  border-radius: 5px;
  background-color: var(--navbar-color);
  margin: 30px 0px;
}

.advisor-heading {
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #ffffff;
  background: var(--brand-color);
  margin-bottom: 0px;
  padding: 20px 25px;
}

.provider-list .checkbox-wrapper {
  padding: 15px 25px;
}

.provider-list .suggestion-advisor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media only screen and (min-width :1200px) and (max-width: 1399px) {
  .advisor-heading {
    padding: 15px 20px;
    font-size: 16px;
  }
}