.update-pass-btn {
  width: 100%;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(90deg, rgba(0, 125, 133, 1) 0%, rgba(0, 123, 131, 0.83) 25%, rgba(0, 123, 131, 0.88) 50%, rgba(0, 113, 120, 0.8) 75%, rgba(1, 141, 149, 1) 100%);
  color: white;
  margin-top: 16px;
  box-shadow: rgb(0 0 0 / 20%) 0px 15px 20px 0px;
}

.welcome-btn {
  width: 30%;
  padding: 7px 15px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(90deg, rgba(0, 125, 133, 1) 0%, rgba(0, 123, 131, 0.83) 25%, rgba(0, 123, 131, 0.88) 50%, rgba(0, 113, 120, 0.8) 75%, rgba(1, 141, 149, 1) 100%);
  color: white;
}

.modal.fade .modal-dialog {
  transform: translateY(-100px);
  transition: transform 0.3s ease-in-out;
}

.modal.fade.show .modal-dialog {
  transform: translateY(0);
}

.success-img {
  width: 150px;
  height: auto;
  margin: auto;
}

.new-password-heading {
  margin-top: 7px;
}

.update-pass-btn:hover {
  background: #007c85;
}

.update-password-modal .modal-body {
  color: #010101;
  text-align: center;
}

.update-password-modal .modal-header {
  border: 0;
  padding-top: 50px;
}

.update-password-modal .modal-footer {
  padding-bottom: 40px;
  border: 0;
}

@media only screen and (min-width : 768px) and (max-width:992px) {
  .update-pass-btn {
    margin-top: 20px;
    padding: 7px 10px;
    font-size: 14px;
  }
}

@media screen and (min-width:1400px) {
  .update-pass-btn {
    margin-top: 40px;
  }

  .new-password-heading {
    margin-top: 12px;
  }
}