.history-list .top-alignment {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.history-list .top-alignment svg {
  font-size: 20px;
  color: var(--text-color);
  cursor: pointer;
}

.history-list .top-alignment h5 {
  margin-bottom: 0px;
  color: var(--text-color);
}

.history-list .history-table {
  width: 100%;
}

.history-list .table-align {
  background: var(--main-btn-color);
  color: #ffffff;
}

.history-list .list-alignment {
  overflow-x: auto;
}

.history-list .list-alignment::-webkit-scrollbar {
  background: inherit;
  border-radius: 0px;
  height: 7px;
}

.history-list .list-alignment::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.history-list .list-alignment::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 10px;
  cursor: pointer;
}

.history-list .list-alignment::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

.history-list .table-list {
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-color);
  border-radius: 5px;
  background-color: var(--navbar-color);
}

.history-list .table-heading {
  padding: 20px 15px;
  font-weight: 500;
  text-align: start;
  white-space: nowrap;
}

.history-list .table-heading:first-child {
  text-align: center;
}

.history-list .table-heading:nth-last-child(2) {
  text-align: center;
}

.history-list .list-item td {
  padding: 15px 15px;
  color: var(--text-color);
  text-align: start;
  white-space: nowrap;
}

.history-list .list-item td:nth-last-child(2) {
  text-align: center;
}

.history-list .search-input {
  border: 1px solid var(--input-border-color);
  padding: 8px 35px 8px 20px;
  border-radius: 20px;
  outline: 1px solid transparent;
  color: var(--text-color);
  width: 100%;
  font-size: 14px;
  background-color: var(--input-color);
}

.history-list .search-input::placeholder {
  color: var(--placeholder-color);
  font-weight: 400;
}

.history-list .search-wrapper {
  position: relative;
  max-width: 100%;
  width: 40%;
  margin: 20px 20px;
}

.history-list .search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--input-icon-color);
}

.history-list .list-item {
  border-bottom: 1px solid var(--border-color)
}

.history-list .list-item:last-child {
  border-bottom: none;
}

.history-list .no-data td {
  padding: 30px 25px;
  color: var(--text-color);
  text-align: center;
  font-weight: 400;
}

.history-list .no-data h5 {
  padding: 15px 0px 5px 0px;
}

.history-list .no-data p {
  color: var(--sub-text-color);
}

.history-list .pagination-align {
  padding: 15px 0px;
  float: right;
}

.history-list .list-item td:first-child {
  text-align: center;
}

.history-list .list-item td:last-child {
  display: flex;
  justify-content: center;
}

.history-list .view-icon {
  background-color: var(--actions-color);
  padding: 7px 10px;
  border-radius: 3px;
  display: inline-block;
  color: var(--actions-icon-color);
  cursor: pointer;
}

.history-list .view-icon:hover {
  background-color: #048088;
  color: white;
  transition: 0.3s ease-in-out all;
}

.history-list .edit-icon:hover svg {
  transform: scale(1.2)
}

@media only screen and (max-width:575px) {
  .history-list .search-wrapper {
    margin: 15px auto;
    width: 90%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .history-list .search-wrapper {
    margin: 20px 15px;
    width: 90%;
  }
}

@media only screen and (min-width:1200px) and (max-width:1399px) {
  .history-list .top-alignment h5 {
    font-size: 16px;
  }

  .history-list .table-heading {
    font-size: 14px;
  }

  .history-list .list-item td {
    font-size: 13px;
    padding: 10px 15px;
  }
}

@media only screen and (min-width:1400px) {
  .history-list .search-input {
    font-size: 14px;
  }

  .history-list .top-alignment {
    margin-bottom: 20px;
  }

  .history-list .search-wrapper {
    margin: 30px 30px;
    width: 30%;
  }
}