.activity-container .activity-header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.activity-container .activity-header svg {
  font-size: 20px;
  color: var(--text-color);
  cursor: pointer;
}

.activity-container .activity-header h5 {
  margin-bottom: 0px;
  color: var(--text-color);
  font-family: 'Be Vietnam Pro', sans-serif;
}

.activity-container .activity-top {
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #ffffff;
  background: var(--main-btn-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-container .activity-top p {
  margin: 0px;
  color: #ffffff;
}

.activity-container .activity-status {
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-color);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--navbar-color);
  padding: 20px 25px;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.activity-container .activity-status .MuiStepLabel-root {
  padding: 5px 0px;
}

.activity-container .activity-status .MuiStepIcon-root {
  height: 2em;
  width: 2em;
  font-size: 12px;
}

.activity-container .activity-status .MuiStepLabel-label {
  font-family: 'Be Vietnam Pro', sans-serif;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-container .activity-status .MuiCollapse-wrapperInner {
  font-family: 'Be Vietnam Pro', sans-serif;
  line-height: 24px;
  color: var(--sub-text-color);
}

.activity-container .activity-status .Mui-completed svg {
  color: #029099;
}

.activity-container .activity-status .Mui-active svg {
  color: #029099;
}

.activity-container .activity-status .completed {
  background-color: #d7f6e4;
  color: #00A956;
}

.activity-container .activity-status .inprogress {
  background-color: #FEE5C9;
  color: #FFA206;
}

.activity-container .activity-status .status {
  padding: 2px 15px;
  border-radius: 100px;
  text-align: center;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .activity-container .activity-header h5 {
    font-size: 16px;
  }

  .activity-container .activity-top {
    padding: 13px 25px;
  }

  .activity-container .activity-top p {
    font-size: 14px;
  }

  .activity-container .activity-status .MuiCollapse-wrapperInner {
    font-size: 14px;
  }
}