.chat-container {
  background: #008d97;
  color: #ffffff;
  border-radius: 50%;
  display: inline-flex;
  padding: 13px;
  cursor: pointer;
  transition: 0.3s ease-out all;
  position: fixed;
  bottom: 15px;
  right: 30px;
}

.chat-container svg {
  font-size: 30px;
}

.chat-container:hover {
  background-color: #007b84;
  transition: 0.3s linear all;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.chat-container .chat-badge {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 12px;
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: #d32f2f;
  color: #ffffff;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1400px) {
  .chat-container svg {
    font-size: 35px;
  }
}