body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Be Vietnam Pro', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

label {
  color: #333333;
  font-weight: 400;
  padding: 5px 0px;
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-bottom: 5px;
}
input:hover{
  border: 1.5px solid #01848d;
  transition: .2s linear all;
}

input:focus-visible {
  outline: none;
  border: 1.5px solid #01848d;
}